.backToTop {
    width: 55px;
    height: 40px;
    position: fixed;
    padding: 10px 0;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ddd;
}

.headline {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.post img {
    max-width: 100%;
}