<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>{% if page.title %} {{ page.title }} | {% endif %}C1nde blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-responsive.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39085412-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h1>{% if page.title %} {{ page.title }} | {% endif %}C1nde blog</h1>
        </div>
        <div class="span6 well">
          {{content}}

          {% if page.url != "/index.html" %}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname = 'c1nde';
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            <ul class="pager">
              {% if page.previous %} 
                <li class="previous">
                  <a href="{{ page.previous.url }}">&larr; Older</a>
                </li>
              {% endif %}
              {% if page.next %} 
                <li class="next">
                  <a href="{{ page.next.url }}">Newer &rarr;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
        <div class="span4 well text-center">
          <img src="/assets/img/shebang.png" alt="My photo" class="img-rounded" />
          <h2>About me</h2>
          <p>
            Working at <a href="http://intspirit.com/" target="_blank"><strong>IntSpirit</strong></a>
          </p>
          <p>
            All the stuff developer and *nix admin
          </p>
          <p>
            Blog powered by <a href="https://github.com/mojombo/jekyll" target="_blank">Jekyll</a>
          </p>
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>